
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--min-height-body);
    margin: var(--margin-body);
    padding: var(--padding-body);
    background: var(--background-color-body);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition: var(--transition-body);
}

#quiz {
    width: var(--width-quiz);
    max-width: var(--max-width-quiz);
    margin: var(--margin-quiz);
    padding: var(--padding-quiz);
    background-color: var(--background-color-quiz);
    border-radius: var(--border-radius-quiz);
    box-shadow: var(--box-shadow-quiz);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: var(--transition-quiz);
}

#question-container {
    width: var(--width-question-container);
    max-width: var(--max-width-quiz);
    margin: var(--margin-quiz);
    padding: var(--padding-quiz);
    background-color: var(--background-color-quiz);
    border-radius: var(--border-radius-quiz);
    box-shadow: var(--box-shadow-quiz);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: var(transition-quiz);
}

#question {
    font-size: var(--font-size-question);
    margin-bottom: var(--margin-bottom-question);
    text-align: center;
}

#question-image {
    max-width: var(--max-width-question-image);
    height: var(--max-width-question-image);
    margin-top: var(--margin-top-question-image);
    margin: var(--margin-question-image);
    border-radius: var(--border-radius-quiz);
}

.hide {
    display: none;
}

#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-answer-buttons);
    justify-content: center;
    width: var(--width-question-container);
}

.btn {
    padding: var(--padding-btn);
    background-color: var(--background-color-btn);
    color: var(--color-btn);
    border: none;
    border-radius: var(--border-radius-btn);
    cursor: pointer;
    transition: var(--transition-btn);
    text-align: center;
}

.btn:hover {
    background-color: var(background-color-btn-hover);
}


#controls {
    display: flex;
    justify-content: center;
    margin-top: var(--margin-top-controls);
    width: var(--width-question-container);
}

#controls .hide {
    display: none;
}

#next-btn, #restart-btn {
    padding: var(--padding-btns);
    background-color: var(--background-color-btns);
    color: var(--color-btns);
    border: none;
    border-radius: var(--border-radius-btn);
    cursor: pointer;
    text-align: center;
}

#next-btn:hover, #restart-btn:hover {
    background-color: var(--background-color-btns);
}

.correct {
    background-color: var(--background-color-btns);
    color: var(--color-btns);
}

.wrong {
    background-color: var(--background-color-wrong);
    color: var(--color-btns);
}

.multiple-choice.selected {
    background-color: var(--background-color-multiple-choice-selected);
    border-color: var(--border-color-multiple-choice-selected);
}

#check-btn {
    padding: var(--padding-btns);
    margin-top: var(--margin-top-controls);
    background-color: var(--background-color-btns);
    color: var(--color-btns);
    border: none;
    border-radius: var(--border-radius-btn);
    cursor: pointer;
    transition: var(transition-btn);
    text-align: center;
}

#theme-toggle {
    position: absolute;
    top: var(--top-theme-toggle);
    right: var(--right-theme-toggle);
    background-color: var(--background-color-btns);
    color: var(--color-btns);
    border: none;
    border-radius: var(--border-radius-btn);
    cursor: pointer;
    padding: var(--padding-btns);
    transition: var(transition-btn);
}


@media (max-width: 1200px) {
    #question {
        font-size: var(--font-size-1-media-question);
    }

    .question-image {
        max-width: var(--max-width-1-media-question-image);
    }

    .btn {
        padding: var(--padding-1-media-btn);
    }

    #next-btn, #restart-btn {
        padding: var(--padding-1-media-btns);
    }

    #check-btn {
        padding: var(--padding-1-media-btns);
    }
}

@media (max-width: 768px) {
    #question {
        font-size: var(--font-size-2-media-question);
    }

    .question-image {
        max-width: var(--max-width-2-media-question-image);
    }

    .btn {
        padding: var(--padding-2-media-btn);
    }

    #next-btn, #restart-btn {
        padding: var(--padding-2-media-btns);
    }

    #check-btn {
        padding: var(--padding-2-media-btns);
    }

    #answer-buttons {
        grid-template-columns: var(--grid-template-columns-media-answer-buttons);
    }
}

@media (max-width: 480px) {
    #question {
        font-size: var(--font-size-3-media-question);
    }

    .question-image {
        max-width: var(--max-width-3-media-question-image);
    }

    .btn {
        padding: var(--padding-3-media-btn);
    }

    #next-btn, #restart-btn {
        padding: var(--padding-3-media-btns);
    }

    #check-btn {
        padding: var(--padding-3-media-btns);
    }
}
